<div class="container">
  <h1>TODO app</h1>
  <h2>{{welcome}}</h2>

  <ul>
    <li *ngFor="let todo of todos">
      {{todo}}
    </li>
  </ul>
  <hr />
  <h2>{{ 'hola'.repeat(4) }}</h2>

  <p> hi {{name()}} {{age}}</p>
  <hr />

  <input type="text" [value]="name()" /> <br />
  <button [disabled]="disabled">Click me</button> <br />

  <p>Change: </p>
  <input type="text" [value]="person().name" (change)="changeHandler($event)" /> <br />

  <p>keyDown: </p>
  <input type="text" [value]="person().name" (keydown)="keyDownHandler($event)" /> <br />

  <button (click)="changeName()">Change name</button> <br />

  <hr />

  <h1>Signals</h1>
  <ul>
    <p>total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{i}} - {{task}}
    </li>
  </ul>

  <div *ngIf="person().name === 'jhon' && person().age >18; else elseBlock">
    <h1>Hi Jhon</h1>
  </div>
  <ng-template #elseBlock>
    <h1>Hi {{person().name}}</h1>
  </ng-template>
</div>

